.bg-github-ABAP {
	background-color: #e8274b;
}
.color-github-ABAP {
	color: #e8274b;
}
.bg-github-ActionScript {
	background-color: #882b0f;
}
.color-github-ActionScript {
	color: #882b0f;
}
.bg-github-Ada {
	background-color: #02f88c;
}
.color-github-Ada {
	color: #02f88c;
}
.bg-github-Agda {
	background-color: #315665;
}
.color-github-Agda {
	color: #315665;
}
.bg-github-AGS-Script {
	background-color: #b9d9ff;
}
.color-github-AGS-Script {
	color: #b9d9ff;
}
.bg-github-Alloy {
	background-color: #64c800;
}
.color-github-Alloy {
	color: #64c800;
}
.bg-github-AMPL {
	background-color: #e6efbb;
}
.color-github-AMPL {
	color: #e6efbb;
}
.bg-github-ANTLR {
	background-color: #9dc3ff;
}
.color-github-ANTLR {
	color: #9dc3ff;
}
.bg-github-API-Blueprint {
	background-color: #2acca8;
}
.color-github-API-Blueprint {
	color: #2acca8;
}
.bg-github-APL {
	background-color: #5a8164;
}
.color-github-APL {
	color: #5a8164;
}
.bg-github-Arc {
	background-color: #aa2afe;
}
.color-github-Arc {
	color: #aa2afe;
}
.bg-github-Arduino {
	background-color: #bd79d1;
}
.color-github-Arduino {
	color: #bd79d1;
}
.bg-github-ASP {
	background-color: #6a40fd;
}
.color-github-ASP {
	color: #6a40fd;
}
.bg-github-AspectJ {
	background-color: #a957b0;
}
.color-github-AspectJ {
	color: #a957b0;
}
.bg-github-Assembly {
	background-color: #6e4c13;
}
.color-github-Assembly {
	color: #6e4c13;
}
.bg-github-ATS {
	background-color: #1ac620;
}
.color-github-ATS {
	color: #1ac620;
}
.bg-github-AutoHotkey {
	background-color: #6594b9;
}
.color-github-AutoHotkey {
	color: #6594b9;
}
.bg-github-AutoIt {
	background-color: #1c3552;
}
.color-github-AutoIt {
	color: #1c3552;
}
.bg-github-BlitzMax {
	background-color: #cd6400;
}
.color-github-BlitzMax {
	color: #cd6400;
}
.bg-github-Boo {
	background-color: #d4bec1;
}
.color-github-Boo {
	color: #d4bec1;
}
.bg-github-Brainfuck {
	background-color: #2f2530;
}
.color-github-Brainfuck {
	color: #2f2530;
}
.bg-github-C-Sharp {
	background-color: #178600;
}
.color-github-C-Sharp {
	color: #178600;
}
.bg-github-C {
	background-color: #555555;
}
.color-github-C {
	color: #555555;
}
.bg-github-Chapel {
	background-color: #8dc63f;
}
.color-github-Chapel {
	color: #8dc63f;
}
.bg-github-Cirru {
	background-color: #ccccff;
}
.color-github-Cirru {
	color: #ccccff;
}
.bg-github-Clarion {
	background-color: #db901e;
}
.color-github-Clarion {
	color: #db901e;
}
.bg-github-Clean {
	background-color: #3f85af;
}
.color-github-Clean {
	color: #3f85af;
}
.bg-github-Click {
	background-color: #e4e6f3;
}
.color-github-Click {
	color: #e4e6f3;
}
.bg-github-Clojure {
	background-color: #db5855;
}
.color-github-Clojure {
	color: #db5855;
}
.bg-github-CoffeeScript {
	background-color: #244776;
}
.color-github-CoffeeScript {
	color: #244776;
}
.bg-github-ColdFusion-CFC {
	background-color: #ed2cd6;
}
.color-github-ColdFusion-CFC {
	color: #ed2cd6;
}
.bg-github-ColdFusion {
	background-color: #ed2cd6;
}
.color-github-ColdFusion {
	color: #ed2cd6;
}
.bg-github-Common-Lisp {
	background-color: #3fb68b;
}
.color-github-Common-Lisp {
	color: #3fb68b;
}
.bg-github-Component-Pascal {
	background-color: #b0ce4e;
}
.color-github-Component-Pascal {
	color: #b0ce4e;
}
.bg-github-cpp {
	background-color: #f34b7d;
}
.color-github-cpp {
	color: #f34b7d;
}
.bg-github-Crystal {
	background-color: #776791;
}
.color-github-Crystal {
	color: #776791;
}
.bg-github-CSS {
	background-color: #563d7c;
}
.color-github-CSS {
	color: #563d7c;
}
.bg-github-D {
	background-color: #ba595e;
}
.color-github-D {
	color: #ba595e;
}
.bg-github-Dart {
	background-color: #00b4ab;
}
.color-github-Dart {
	color: #00b4ab;
}
.bg-github-Diff {
	background-color: #88dddd;
}
.color-github-Diff {
	color: #88dddd;
}
.bg-github-DM {
	background-color: #447265;
}
.color-github-DM {
	color: #447265;
}
.bg-github-Dogescript {
	background-color: #cca760;
}
.color-github-Dogescript {
	color: #cca760;
}
.bg-github-Dylan {
	background-color: #6c616e;
}
.color-github-Dylan {
	color: #6c616e;
}
.bg-github-E {
	background-color: #ccce35;
}
.color-github-E {
	color: #ccce35;
}
.bg-github-Eagle {
	background-color: #814c05;
}
.color-github-Eagle {
	color: #814c05;
}
.bg-github-eC {
	background-color: #913960;
}
.color-github-eC {
	color: #913960;
}
.bg-github-ECL {
	background-color: #8a1267;
}
.color-github-ECL {
	color: #8a1267;
}
.bg-github-edn {
	background-color: #db5855;
}
.color-github-edn {
	color: #db5855;
}
.bg-github-Eiffel {
	background-color: #946d57;
}
.color-github-Eiffel {
	color: #946d57;
}
.bg-github-Elixir {
	background-color: #6e4a7e;
}
.color-github-Elixir {
	color: #6e4a7e;
}
.bg-github-Elm {
	background-color: #60b5cc;
}
.color-github-Elm {
	color: #60b5cc;
}
.bg-github-Emacs-Lisp {
	background-color: #c065db;
}
.color-github-Emacs-Lisp {
	color: #c065db;
}
.bg-github-EmberScript {
	background-color: #fff4f3;
}
.color-github-EmberScript {
	color: #fff4f3;
}
.bg-github-Erlang {
	background-color: #b83998;
}
.color-github-Erlang {
	color: #b83998;
}
.bg-github-F-Sharp {
	background-color: #b845fc;
}
.color-github-F-Sharp {
	color: #b845fc;
}
.bg-github-Factor {
	background-color: #636746;
}
.color-github-Factor {
	color: #636746;
}
.bg-github-Fancy {
	background-color: #7b9db4;
}
.color-github-Fancy {
	color: #7b9db4;
}
.bg-github-Fantom {
	background-color: #dbded5;
}
.color-github-Fantom {
	color: #dbded5;
}
.bg-github-FLUX {
	background-color: #88ccff;
}
.color-github-FLUX {
	color: #88ccff;
}
.bg-github-Forth {
	background-color: #341708;
}
.color-github-Forth {
	color: #341708;
}
.bg-github-FORTRAN {
	background-color: #4d41b1;
}
.color-github-FORTRAN {
	color: #4d41b1;
}
.bg-github-FreeMarker {
	background-color: #0050b2;
}
.color-github-FreeMarker {
	color: #0050b2;
}
.bg-github-Frege {
	background-color: #00cafe;
}
.color-github-Frege {
	color: #00cafe;
}
.bg-github-Game-Maker-Language {
	background-color: #8fb200;
}
.color-github-Game-Maker-Language {
	color: #8fb200;
}
.bg-github-Glyph {
	background-color: #e4cc98;
}
.color-github-Glyph {
	color: #e4cc98;
}
.bg-github-Gnuplot {
	background-color: #f0a9f0;
}
.color-github-Gnuplot {
	color: #f0a9f0;
}
.bg-github-Go {
	background-color: #375eab;
}
.color-github-Go {
	color: #375eab;
}
.bg-github-Golo {
	background-color: #88562a;
}
.color-github-Golo {
	color: #88562a;
}
.bg-github-Gosu {
	background-color: #82937f;
}
.color-github-Gosu {
	color: #82937f;
}
.bg-github-Grammatical-Framework {
	background-color: #79aa7a;
}
.color-github-Grammatical-Framework {
	color: #79aa7a;
}
.bg-github-Groovy {
	background-color: #e69f56;
}
.color-github-Groovy {
	color: #e69f56;
}
.bg-github-Handlebars {
	background-color: #01a9d6;
}
.color-github-Handlebars {
	color: #01a9d6;
}
.bg-github-Harbour {
	background-color: #0e60e3;
}
.color-github-Harbour {
	color: #0e60e3;
}
.bg-github-Haskell {
	background-color: #29b544;
}
.color-github-Haskell {
	color: #29b544;
}
.bg-github-Haxe {
	background-color: #df7900;
}
.color-github-Haxe {
	color: #df7900;
}
.bg-github-HTML {
	background-color: #e44b23;
}
.color-github-HTML {
	color: #e44b23;
}
.bg-github-Hy {
	background-color: #7790b2;
}
.color-github-Hy {
	color: #7790b2;
}
.bg-github-IDL {
	background-color: #a3522f;
}
.color-github-IDL {
	color: #a3522f;
}
.bg-github-Io {
	background-color: #a9188d;
}
.color-github-Io {
	color: #a9188d;
}
.bg-github-Ioke {
	background-color: #078193;
}
.color-github-Ioke {
	color: #078193;
}
.bg-github-Isabelle {
	background-color: #fefe00;
}
.color-github-Isabelle {
	color: #fefe00;
}
.bg-github-J {
	background-color: #9eedff;
}
.color-github-J {
	color: #9eedff;
}
.bg-github-Java {
	background-color: #b07219;
}
.color-github-Java {
	color: #b07219;
}
.bg-github-JavaScript {
	background-color: #f1e05a;
}
.color-github-JavaScript {
	color: #f1e05a;
}
.bg-github-JFlex {
	background-color: #dbca00;
}
.color-github-JFlex {
	color: #dbca00;
}
.bg-github-JSONiq {
	background-color: #40d47e;
}
.color-github-JSONiq {
	color: #40d47e;
}
.bg-github-Julia {
	background-color: #a270ba;
}
.color-github-Julia {
	color: #a270ba;
}
.bg-github-Jupyter-Notebook {
	background-color: #da5b0b;
}
.color-github-Jupyter-Notebook {
	color: #da5b0b;
}
.bg-github-Kotlin {
	background-color: #f18e33;
}
.color-github-Kotlin {
	color: #f18e33;
}
.bg-github-KRL {
	background-color: #28431f;
}
.color-github-KRL {
	color: #28431f;
}
.bg-github-Lasso {
	background-color: #999999;
}
.color-github-Lasso {
	color: #999999;
}
.bg-github-Latte {
	background-color: #a8ff97;
}
.color-github-Latte {
	color: #a8ff97;
}
.bg-github-Lex {
	background-color: #dbca00;
}
.color-github-Lex {
	color: #dbca00;
}
.bg-github-LFE {
	background-color: #004200;
}
.color-github-LFE {
	color: #004200;
}
.bg-github-LiveScript {
	background-color: #499886;
}
.color-github-LiveScript {
	color: #499886;
}
.bg-github-LOLCODE {
	background-color: #cc9900;
}
.color-github-LOLCODE {
	color: #cc9900;
}
.bg-github-LookML {
	background-color: #652b81;
}
.color-github-LookML {
	color: #652b81;
}
.bg-github-LSL {
	background-color: #3d9970;
}
.color-github-LSL {
	color: #3d9970;
}
.bg-github-Lua {
	background-color: #000080;
}
.color-github-Lua {
	color: #000080;
}
.bg-github-Makefile {
	background-color: #427819;
}
.color-github-Makefile {
	color: #427819;
}
.bg-github-Mask {
	background-color: #f97732;
}
.color-github-Mask {
	color: #f97732;
}
.bg-github-Matlab {
	background-color: #bb92ac;
}
.color-github-Matlab {
	color: #bb92ac;
}
.bg-github-Max {
	background-color: #c4a79c;
}
.color-github-Max {
	color: #c4a79c;
}
.bg-github-MAXScript {
	background-color: #00a6a6;
}
.color-github-MAXScript {
	color: #00a6a6;
}
.bg-github-Mercury {
	background-color: #ff2b2b;
}
.color-github-Mercury {
	color: #ff2b2b;
}
.bg-github-Metal {
	background-color: #8f14e9;
}
.color-github-Metal {
	color: #8f14e9;
}
.bg-github-Mirah {
	background-color: #c7a938;
}
.color-github-Mirah {
	color: #c7a938;
}
.bg-github-MTML {
	background-color: #b7e1f4;
}
.color-github-MTML {
	color: #b7e1f4;
}
.bg-github-NCL {
	background-color: #28431f;
}
.color-github-NCL {
	color: #28431f;
}
.bg-github-Nemerle {
	background-color: #3d3c6e;
}
.color-github-Nemerle {
	color: #3d3c6e;
}
.bg-github-nesC {
	background-color: #94b0c7;
}
.color-github-nesC {
	color: #94b0c7;
}
.bg-github-NetLinx {
	background-color: #0aa0ff;
}
.color-github-NetLinx {
	color: #0aa0ff;
}
.bg-github-NetLinx-ERB {
	background-color: #747faa;
}
.color-github-NetLinx-ERB {
	color: #747faa;
}
.bg-github-NetLogo {
	background-color: #ff6375;
}
.color-github-NetLogo {
	color: #ff6375;
}
.bg-github-NewLisp {
	background-color: #87aed7;
}
.color-github-NewLisp {
	color: #87aed7;
}
.bg-github-Nimrod {
	background-color: #37775b;
}
.color-github-Nimrod {
	color: #37775b;
}
.bg-github-Nit {
	background-color: #009917;
}
.color-github-Nit {
	color: #009917;
}
.bg-github-Nix {
	background-color: #7e7eff;
}
.color-github-Nix {
	color: #7e7eff;
}
.bg-github-Nu {
	background-color: #c9df40;
}
.color-github-Nu {
	color: #c9df40;
}
.bg-github-Objective-C {
	background-color: #438eff;
}
.color-github-Objective-C {
	color: #438eff;
}
.bg-github-Objective-Cpp {
	background-color: #6866fb;
}
.color-github-Objective-Cpp {
	color: #6866fb;
}
.bg-github-Objective-J {
	background-color: #ff0c5a;
}
.color-github-Objective-J {
	color: #ff0c5a;
}
.bg-github-OCaml {
	background-color: #3be133;
}
.color-github-OCaml {
	color: #3be133;
}
.bg-github-Omgrofl {
	background-color: #cabbff;
}
.color-github-Omgrofl {
	color: #cabbff;
}
.bg-github-ooc {
	background-color: #b0b77e;
}
.color-github-ooc {
	color: #b0b77e;
}
.bg-github-Opal {
	background-color: #f7ede0;
}
.color-github-Opal {
	color: #f7ede0;
}
.bg-github-Oxygene {
	background-color: #cdd0e3;
}
.color-github-Oxygene {
	color: #cdd0e3;
}
.bg-github-Oz {
	background-color: #fab738;
}
.color-github-Oz {
	color: #fab738;
}
.bg-github-Pan {
	background-color: #cc0000;
}
.color-github-Pan {
	color: #cc0000;
}
.bg-github-Papyrus {
	background-color: #6600cc;
}
.color-github-Papyrus {
	color: #6600cc;
}
.bg-github-Parrot {
	background-color: #f3ca0a;
}
.color-github-Parrot {
	color: #f3ca0a;
}
.bg-github-Pascal {
	background-color: #b0ce4e;
}
.color-github-Pascal {
	color: #b0ce4e;
}
.bg-github-PAWN {
	background-color: #dbb284;
}
.color-github-PAWN {
	color: #dbb284;
}
.bg-github-Perl {
	background-color: #0298c3;
}
.color-github-Perl {
	color: #0298c3;
}
.bg-github-Perl6 {
	background-color: #0000fb;
}
.color-github-Perl6 {
	color: #0000fb;
}
.bg-github-PHP {
	background-color: #4f5d95;
}
.color-github-PHP {
	color: #4f5d95;
}
.bg-github-PigLatin {
	background-color: #fcd7de;
}
.color-github-PigLatin {
	color: #fcd7de;
}
.bg-github-Pike {
	background-color: #005390;
}
.color-github-Pike {
	color: #005390;
}
.bg-github-PLSQL {
	background-color: #dad8d8;
}
.color-github-PLSQL {
	color: #dad8d8;
}
.bg-github-PogoScript {
	background-color: #d80074;
}
.color-github-PogoScript {
	color: #d80074;
}
.bg-github-Processing {
	background-color: #0096d8;
}
.color-github-Processing {
	color: #0096d8;
}
.bg-github-Prolog {
	background-color: #74283c;
}
.color-github-Prolog {
	color: #74283c;
}
.bg-github-Propeller-Spin {
	background-color: #7fa2a7;
}
.color-github-Propeller-Spin {
	color: #7fa2a7;
}
.bg-github-Puppet {
	background-color: #302b6d;
}
.color-github-Puppet {
	color: #302b6d;
}
.bg-github-Pure Data {
	background-color: #91de79;
}
.color-github-Pure Data {
	color: #91de79;
}
.bg-github-PureBasic {
	background-color: #5a6986;
}
.color-github-PureBasic {
	color: #5a6986;
}
.bg-github-PureScript {
	background-color: #1d222d;
}
.color-github-PureScript {
	color: #1d222d;
}
.bg-github-Python {
	background-color: #3572a5;
}
.color-github-Python {
	color: #3572a5;
}
.bg-github-QML {
	background-color: #44a51c;
}
.color-github-QML {
	color: #44a51c;
}
.bg-github-R {
	background-color: #198ce7;
}
.color-github-R {
	color: #198ce7;
}
.bg-github-Racket {
	background-color: #22228f;
}
.color-github-Racket {
	color: #22228f;
}
.bg-github-Ragel-in-Ruby-Host {
	background-color: #9d5200;
}
.color-github-Ragel-in-Ruby-Host {
	color: #9d5200;
}
.bg-github-RAML {
	background-color: #77d9fb;
}
.color-github-RAML {
	color: #77d9fb;
}
.bg-github-Rebol {
	background-color: #358a5b;
}
.color-github-Rebol {
	color: #358a5b;
}
.bg-github-Red {
	background-color: #ee0000;
}
.color-github-Red {
	color: #ee0000;
}
.bg-github-Ren-Py {
	background-color: #ff7f7f;
}
.color-github-Ren-Py {
	color: #ff7f7f;
}
.bg-github-Rouge {
	background-color: #cc0088;
}
.color-github-Rouge {
	color: #cc0088;
}
.bg-github-Ruby {
	background-color: #701516;
}
.color-github-Ruby {
	color: #701516;
}
.bg-github-Rust {
	background-color: #dea584;
}
.color-github-Rust {
	color: #dea584;
}
.bg-github-SaltStack {
	background-color: #646464;
}
.color-github-SaltStack {
	color: #646464;
}
.bg-github-SAS {
	background-color: #b34936;
}
.color-github-SAS {
	color: #b34936;
}
.bg-github-Scala {
	background-color: #dc322f;
}
.color-github-Scala {
	color: #dc322f;
}
.bg-github-Scheme {
	background-color: #1e4aec;
}
.color-github-Scheme {
	color: #1e4aec;
}
.bg-github-Self {
	background-color: #0579aa;
}
.color-github-Self {
	color: #0579aa;
}
.bg-github-Shell {
	background-color: #89e051;
}
.color-github-Shell {
	color: #89e051;
}
.bg-github-Shen {
	background-color: #120f14;
}
.color-github-Shen {
	color: #120f14;
}
.bg-github-Slash {
	background-color: #007eff;
}
.color-github-Slash {
	color: #007eff;
}
.bg-github-Slim {
	background-color: #ff8f77;
}
.color-github-Slim {
	color: #ff8f77;
}
.bg-github-Smalltalk {
	background-color: #596706;
}
.color-github-Smalltalk {
	color: #596706;
}
.bg-github-SourcePawn {
	background-color: #5c7611;
}
.color-github-SourcePawn {
	color: #5c7611;
}
.bg-github-SQF {
	background-color: #3f3f3f;
}
.color-github-SQF {
	color: #3f3f3f;
}
.bg-github-Squirrel {
	background-color: #800000;
}
.color-github-Squirrel {
	color: #800000;
}
.bg-github-Stan {
	background-color: #b2011d;
}
.color-github-Stan {
	color: #b2011d;
}
.bg-github-Standard-ML {
	background-color: #dc566d;
}
.color-github-Standard-ML {
	color: #dc566d;
}
.bg-github-SuperCollider {
	background-color: #46390b;
}
.color-github-SuperCollider {
	color: #46390b;
}
.bg-github-Swift {
	background-color: #ffac45;
}
.color-github-Swift {
	color: #ffac45;
}
.bg-github-SystemVerilog {
	background-color: #dae1c2;
}
.color-github-SystemVerilog {
	color: #dae1c2;
}
.bg-github-Tcl {
	background-color: #e4cc98;
}
.color-github-Tcl {
	color: #e4cc98;
}
.bg-github-TeX {
	background-color: #3d6117;
}
.color-github-TeX {
	color: #3d6117;
}
.bg-github-Turing {
	background-color: #45f715;
}
.color-github-Turing {
	color: #45f715;
}
.bg-github-TypeScript {
	background-color: #2b7489;
}
.color-github-TypeScript {
	color: #2b7489;
}
.bg-github-Unified-Parallel-C {
	background-color: #4e3617;
}
.color-github-Unified-Parallel-C {
	color: #4e3617;
}
.bg-github-Unity3D-Asset {
	background-color: #ab69a1;
}
.color-github-Unity3D-Asset {
	color: #ab69a1;
}
.bg-github-UnrealScript {
	background-color: #a54c4d;
}
.color-github-UnrealScript {
	color: #a54c4d;
}
.bg-github-Vala {
	background-color: #fbe5cd;
}
.color-github-Vala {
	color: #fbe5cd;
}
.bg-github-Verilog {
	background-color: #b2b7f8;
}
.color-github-Verilog {
	color: #b2b7f8;
}
.bg-github-VHDL {
	background-color: #adb2cb;
}
.color-github-VHDL {
	color: #adb2cb;
}
.bg-github-VimL {
	background-color: #199f4b;
}
.color-github-VimL {
	color: #199f4b;
}
.bg-github-Visual-Basic {
	background-color: #945db7;
}
.color-github-Visual-Basic {
	color: #945db7;
}
.bg-github-Volt {
	background-color: #1f1f1f;
}
.color-github-Volt {
	color: #1f1f1f;
}
.bg-github-Vue {
	background-color: #2c3e50;
}
.color-github-Vue {
	color: #2c3e50;
}
.bg-github-Web-Ontology-Language {
	background-color: #9cc9dd;
}
.color-github-Web-Ontology-Language {
	color: #9cc9dd;
}
.bg-github-wisp {
	background-color: #7582d1;
}
.color-github-wisp {
	color: #7582d1;
}
.bg-github-X10 {
	background-color: #4b6bef;
}
.color-github-X10 {
	color: #4b6bef;
}
.bg-github-xBase {
	background-color: #403a40;
}
.color-github-xBase {
	color: #403a40;
}
.bg-github-XC {
	background-color: #99da07;
}
.color-github-XC {
	color: #99da07;
}
.bg-github-XQuery {
	background-color: #5232e7;
}
.color-github-XQuery {
	color: #5232e7;
}
.bg-github-Zephir {
	background-color: #118f9e;
}
.color-github-Zephir {
	color: #118f9e;
}
