@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

.text-primary {
	color: $primaryColor;
}
.hover\:text-primary:hover {
	color: $primaryColor;
}
.bg-primary {
	background-color: $primaryColor;
}
.hover\:bg-primary:hover {
	background-color: $primaryColor;
}
.border-primary {
	border-color: $primaryColor;
}
.hover\:border-primary:hover {
	border-color: $primaryColor;
}
.text-secondary {
	color: $secondaryColor;
}
.hover\:text-secondary:hover {
	color: $secondaryColor;
}
.bg-secondary {
	background-color: $secondaryColor;
}
.hover\:bg-secondary:hover {
	background-color: $secondaryColor;
}
.border-secondary {
	border-color: $secondaryColor;
}
.hover\:border-secondary:hover {
	border-color: $secondaryColor;
}
