name: Build App and Send Master

on:
  push:
    branches:
      - development

permissions: 
  contents: write

env:
  NODE_VERSION: '16.15.0'

jobs:
  merge-master-back-to-dev:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Cache dependencies
        uses: actions/cache@v2
        with:
          path: ~/.npm
          key: npm-${{ hashFiles('package-lock.json') }}
          restore-keys: npm-

      - name: Install Dependencies
        run: npm install

      - name: Set Git config
        run: |
            git config user.name "actions"
            git config user.email "github-actions@github.com"

      - name: Push
        uses: s0/git-publish-subdir-action@develop
        env:
          REPO: self
          BRANCH: master
          FOLDER: build
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}